/.idea
/.vscode
/db/mysql
/db/redis
/db/postgres
.idx
.vscode/*

/src/be/vendor/
/src/be/node_modules/
/src/be/npm-debug.log
/src/be/yarn-error.log

# Laravel 4 specific
/src/be/bootstrap/compiled.php
/src/be/App/storage/

# Laravel 5 & Lumen specific
/src/be/public/storage
/src/be/public/hot

# Laravel 5 & Lumen specific with changed public path
/src/be/public_html/storage
/src/be/public_html/hot

/src/be/storage/*.key
/src/be/.env
/src/be/Homestead.yaml
/src/be/Homestead.json
/src/be//.vagrant
/src/be/.phpunit.result.cache


# Nuxt dev/build outputs
/src/fe/.output
/src/fe/.data
/src/fe/.nuxt
/src/fe/.nitro
/src/fe/.cache
/src/fe/dist

# Node dependencies
/src/fe/node_modules

# Logs
/src/fe/logs
/src/fe/*.log

# Misc
/src/fe/.DS_Store
/src/fe/.fleet
/src/fe/.idea

# Local env files
/src/fe/.env
/src/fe/.env.*
/src/fe/!.env.example
/db
.env